@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap");

body {
  background-color: #f5f5f5;
}
.header {
  background: url(../img/background.jpg) 0 0 / cover no-repeat;
  height: 800px;
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 1018px;
}
.block__container {
  background: #5d62b5;
  border: 1px solid #000000;
  border-radius: 40px;
  margin-top: -80px;
  position: relative;
}
.block__content {
  padding: 92px 87px 0 94px;
  color: #fff;
  font-family: "Roboto";
}
.block__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.5px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 40px;
}
.block__subtitle::before {
  content: "";
  position: absolute;
  background-image: url(../img/mark.svg);
  width: 28px;
  height: 27px;
  left: 0;
  top: -2px;
}
.block__title {
  max-width: 570px;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 41px;
}
.block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
.block__container::after {
  content: "";
  background: url(../img/circles.svg);
  width: 201px;
  height: 317px;
  position: absolute;
  top: -110px;
  right: -79px;
}
.image {
  max-width: 848px;
  border-radius: 40px;
  position: relative;
  left: 85px;
  top: 120px;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.block__container::before {
  content: "";
  background: url(../img/blob.svg) 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 300px;
  left: -20px;
}
